### Importing  library

In [7]:
import os
import glob
import pandas as pd

### combing csv's

In [8]:
os.chdir("C:/Users/chandrakanth/Desktop/air polution")

In [9]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [10]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [11]:
combined_csv.head(10) # head of data

,location,city,country,utc,local,parameter,value,unit,latitude,longitude,attribution
0,"Sanjay Palace, Agra - UPPCB",Agra,IN,2020-05-21T07:00:00.000Z,2020-05-21T12:30:00+05:30,pm25,59.0,µg/m³,27.198658,78.005981,"[{""name"":""Central Pollution Control Board"",""ur..."
1,"Sanjay Palace, Agra - UPPCB",Agra,IN,2020-05-21T07:00:00.000Z,2020-05-21T12:30:00+05:30,o3,64.5,µg/m³,27.198658,78.005981,"[{""name"":""Central Pollution Control Board"",""ur..."
2,"Sanjay Palace, Agra - UPPCB",Agra,IN,2020-05-21T07:00:00.000Z,2020-05-21T12:30:00+05:30,co,310.0,µg/m³,27.198658,78.005981,"[{""name"":""Central Pollution Control Board"",""ur..."
3,"Sanjay Palace, Agra - UPPCB",Agra,IN,2020-05-21T07:00:00.000Z,2020-05-21T12:30:00+05:30,so2,44.0,µg/m³,27.198658,78.005981,"[{""name"":""Central Pollution Control Board"",""ur..."
4,"Sanjay Palace, Agra - UPPCB",Agra,IN,2020-05-21T07:00:00.000Z,2020-05-21T12:30:00+05:30,no2,37.0,µg/m³,27.198658,78.005981,"[{""name"":""Central Pollution Control Board"",""ur..."
5,"Sanjay Palace, Agra - UPPCB",Agra,IN,2020-05-21T06:45:00.000Z,2020-05-21T12:15:00+05:30,pm25,59.0,µg/m³,27.198658,78.005981,"[{""name"":""Central Pollution Control Board"",""ur..."
6,"Sanjay Palace, Agra - UPPCB",Agra,IN,2020-05-21T06:45:00.000Z,2020-05-21T12:15:00+05:30,o3,91.5,µg/m³,27.198658,78.005981,"[{""name"":""Central Pollution Control Board"",""ur..."
7,"Sanjay Palace, Agra - UPPCB",Agra,IN,2020-05-21T06:45:00.000Z,2020-05-21T12:15:00+05:30,co,320.0,µg/m³,27.198658,78.005981,"[{""name"":""Central Pollution Control Board"",""ur..."
8,"Sanjay Palace, Agra - UPPCB",Agra,IN,2020-05-21T06:45:00.000Z,2020-05-21T12:15:00+05:30,so2,27.0,µg/m³,27.198658,78.005981,"[{""name"":""Central Pollution Control Board"",""ur..."
9,"Sanjay Palace, Agra - UPPCB",Agra,IN,2020-05-21T06:45:00.000Z,2020-05-21T12:15:00+05:30,no2,35.5,µg/m³,27.198658,78.005981,"[{""name"":""Central Pollution Control Board"",""ur..."

In [12]:
combined_csv.shape # shape of data

(3575205, 11)

In [15]:
combined_csv.dtypes # types of data

location        object
city            object
country         object
utc             object
local           object
parameter       object
value          float64
unit            object
latitude       float64
longitude      float64
attribution     object
dtype: object

### Deleting un wanted columns

In [18]:
data_after_removing_un_wanted_colums = combined_csv.drop(['location','country','unit','utc','attribution'], axis = 1)

In [19]:
data_after_removing_un_wanted_colums.head(10)

   city                      local parameter  value   latitude  longitude
0  Agra  2020-05-21T12:30:00+05:30      pm25   59.0  27.198658  78.005981
1  Agra  2020-05-21T12:30:00+05:30        o3   64.5  27.198658  78.005981
2  Agra  2020-05-21T12:30:00+05:30        co  310.0  27.198658  78.005981
3  Agra  2020-05-21T12:30:00+05:30       so2   44.0  27.198658  78.005981
4  Agra  2020-05-21T12:30:00+05:30       no2   37.0  27.198658  78.005981
5  Agra  2020-05-21T12:15:00+05:30      pm25   59.0  27.198658  78.005981
6  Agra  2020-05-21T12:15:00+05:30        o3   91.5  27.198658  78.005981
7  Agra  2020-05-21T12:15:00+05:30        co  320.0  27.198658  78.005981
8  Agra  2020-05-21T12:15:00+05:30       so2   27.0  27.198658  78.005981
9  Agra  2020-05-21T12:15:00+05:30       no2   35.5  27.198658  78.005981

In [21]:
data_after_removing_un_wanted_colums.shape

(3575205, 6)

In [22]:
data_after_removing_un_wanted_colums.isnull().sum() # cheaking nan's

city         0
local        0
parameter    0
value        0
latitude     0
longitude    0
dtype: int64

In [23]:
data_after_removing_un_wanted_colums.dtypes # cheaking col types

city          object
local         object
parameter     object
value        float64
latitude     float64
longitude    float64
dtype: object

In [24]:
data_after_removing_un_wanted_colums.parameter.describe() #checking unique values in parameter column

count     3575205
unique          6
top          pm25
freq       625502
Name: parameter, dtype: object

In [26]:
data_after_removing_un_wanted_colums.groupby("parameter").count() # count of unique in parameter column

             city   local   value  latitude  longitude
parameter
co         603840  603840  603840    603840     603840
no2        614480  614480  614480    614480     614480
o3         573975  573975  573975    573975     573975
pm10       545153  545153  545153    545153     545153
pm25       625502  625502  625502    625502     625502
so2        612255  612255  612255    612255     612255

### grouping the data on parameter column

In [27]:
data_after_removing_un_wanted_colums.parameter.unique()

array(['pm25', 'o3', 'co', 'so2', 'no2', 'pm10'], dtype=object)

In [28]:
data_unique_values = data_after_removing_un_wanted_colums.copy()

In [29]:
names = data_after_removing_un_wanted_colums['parameter'].unique().tolist()
#find unique values
store0=data_unique_values[data_unique_values['parameter']==names[0]]
store1=data_unique_values[data_unique_values['parameter']==names[1]]
store2=data_unique_values[data_unique_values['parameter']==names[2]]
store3=data_unique_values[data_unique_values['parameter']==names[3]]
store4=data_unique_values[data_unique_values['parameter']==names[3]]
store5=data_unique_values[data_unique_values['parameter']==names[4]]

### Removing parameter column and rename value column with parameter name

In [31]:
data_main = store0.rename(columns = {"value": "pm25"})
dataset_main_droped = data_main.drop("parameter",axis=1)
print(dataset_main_droped.head()) #pm25
#'o3'
data_main1 = store1.rename(columns = {"value": "o3"})
dataset_main_droped1 = data_main1.drop("parameter",axis=1)
print(dataset_main_droped1.head())
#'co'
data_main2 = store2.rename(columns = {"value": "co"})
dataset_main_droped2 = data_main2.drop("parameter",axis=1)
print(dataset_main_droped2.head())
#'so2'
data_main3 = store3.rename(columns = {"value": "so2"})
dataset_main_droped3 = data_main3.drop("parameter",axis=1)
print(dataset_main_droped3.head())
# 'no2'
data_main4 = store4.rename(columns = {"value": "no2"})
dataset_main_droped4 = data_main4.drop("parameter",axis=1)
print(dataset_main_droped4.head())
#'pm10'
data_main5 = store5.rename(columns = {"value": "pm10"})
dataset_main_droped5 = data_main5.drop("parameter",axis=1)
print(dataset_main_droped5.head())

    city                      local  pm25   latitude  longitude
0   Agra  2020-05-21T12:30:00+05:30  59.0  27.198658  78.005981
5   Agra  2020-05-21T12:15:00+05:30  59.0  27.198658  78.005981
14  Agra  2020-05-21T11:15:00+05:30  55.0  27.198658  78.005981
19  Agra  2020-05-21T10:00:00+05:30  96.0  27.198658  78.005981
20  Agra  2020-05-21T09:45:00+05:30  96.0  27.198658  78.005981
    city                      local    o3   latitude  longitude
1   Agra  2020-05-21T12:30:00+05:30  64.5  27.198658  78.005981
6   Agra  2020-05-21T12:15:00+05:30  91.5  27.198658  78.005981
11  Agra  2020-05-21T11:15:00+05:30  75.1  27.198658  78.005981
16  Agra  2020-05-21T10:00:00+05:30  58.4  27.198658  78.005981
22  Agra  2020-05-21T09:45:00+05:30  46.3  27.198658  78.005981
    city                      local     co   latitude  longitude
2   Agra  2020-05-21T12:30:00+05:30  310.0  27.198658  78.005981
7   Agra  2020-05-21T12:15:00+05:30  320.0  27.198658  78.005981
12  Agra  2020-05-21T11:15:00+05:30  440.0  27.198658  78.005981
17  Agra  2020-05-21T10:00:00+05:30  150.0  27.198658  78.005981
21  Agra  2020-05-21T09:45:00+05:30  150.0  27.198658  78.005981
    city                      local   so2   latitude  longitude
3   Agra  2020-05-21T12:30:00+05:30  44.0  27.198658  78.005981
8   Agra  2020-05-21T12:15:00+05:30  27.0  27.198658  78.005981
13  Agra  2020-05-21T11:15:00+05:30   0.0  27.198658  78.005981
18  Agra  2020-05-21T10:00:00+05:30  11.3  27.198658  78.005981
23  Agra  2020-05-21T09:45:00+05:30  22.8  27.198658  78.005981
    city                      local   no2   latitude  longitude
3   Agra  2020-05-21T12:30:00+05:30  44.0  27.198658  78.005981
8   Agra  2020-05-21T12:15:00+05:30  27.0  27.198658  78.005981
13  Agra  2020-05-21T11:15:00+05:30   0.0  27.198658  78.005981
18  Agra  2020-05-21T10:00:00+05:30  11.3  27.198658  78.005981
23  Agra  2020-05-21T09:45:00+05:30  22.8  27.198658  78.005981
    city                      local  pm10   latitude  longitude
4   Agra  2020-05-21T12:30:00+05:30  37.0  27.198658  78.005981
9   Agra  2020-05-21T12:15:00+05:30  35.5  27.198658  78.005981
10  Agra  2020-05-21T11:15:00+05:30  41.2  27.198658  78.005981
15  Agra  2020-05-21T10:00:00+05:30  49.3  27.198658  78.005981
24  Agra  2020-05-21T09:45:00+05:30  47.4  27.198658  78.005981

In [39]:
dataset_main_droped.head()

    city                      local  pm25   latitude  longitude
0   Agra  2020-05-21T12:30:00+05:30  59.0  27.198658  78.005981
5   Agra  2020-05-21T12:15:00+05:30  59.0  27.198658  78.005981
14  Agra  2020-05-21T11:15:00+05:30  55.0  27.198658  78.005981
19  Agra  2020-05-21T10:00:00+05:30  96.0  27.198658  78.005981
20  Agra  2020-05-21T09:45:00+05:30  96.0  27.198658  78.005981

In [88]:
# saving to csv cheack point

dataset_main_droped.to_csv( "dataset_main_droped0.csv", index=False, encoding='utf-8-sig')
dataset_main_droped1.to_csv( "dataset_main_droped1.csv", index=False, encoding='utf-8-sig')
dataset_main_droped2.to_csv( "dataset_main_droped2.csv", index=False, encoding='utf-8-sig')
dataset_main_droped3.to_csv( "dataset_main_droped3.csv", index=False, encoding='utf-8-sig')
dataset_main_droped4.to_csv( "dataset_main_droped4.csv", index=False, encoding='utf-8-sig')
dataset_main_droped5.to_csv( "dataset_main_droped5.csv", index=False, encoding='utf-8-sig')

In [55]:
df = pd.read_csv("dataset_main_droped0.csv") #reading data sets
df1 = pd.read_csv("dataset_main_droped1.csv")
df2 = pd.read_csv("dataset_main_droped2.csv")
df3 = pd.read_csv("dataset_main_droped3.csv")
df4 = pd.read_csv("dataset_main_droped4.csv")
df5 = pd.read_csv("dataset_main_droped5.csv")

In [61]:
df.shape
df1.shape

(573975, 5)

### Mergeing datasets on column of city, local latitude, longitude

In [64]:
result = pd.merge(df,df1, how='outer', on=['city','local', 'latitude','longitude'])

In [65]:
result.count()

city         658896
local        658896
pm25         641422
latitude     658896
longitude    658896
o3           589895
dtype: int64

In [66]:
result = pd.merge(result,df2, how='outer', on=['city','local', 'latitude','longitude'])
result.count()

city         690833
local        690833
pm25         666866
latitude     690833
longitude    690833
o3           615061
co           642002
dtype: int64

In [67]:
result = pd.merge(result,df3, how='outer', on=['city','local', 'latitude','longitude'])
result.count()

city         747515
local        747515
pm25         722408
latitude     747515
longitude    747515
o3           670267
co           692816
so2          708951
dtype: int64

In [68]:
result = pd.merge(result,df5, how='outer', on=['city','local', 'latitude','longitude'])
result.count()

city         851848
local        851848
pm25         824810
latitude     851848
longitude    851848
o3           772205
co           786436
so2          812241
pm10         807712
dtype: int64

In [69]:
result = pd.merge(result,df4, how='outer', on=['city','local', 'latitude','longitude'])
result.count()

city         1067988
local        1067988
pm25         1037430
latitude     1067988
longitude    1067988
o3            983693
co            981084
so2          1028381
pm10         1014292
no2          1028381
dtype: int64

In [74]:
result

,city,local,pm25,latitude,longitude,o3,co,so2,pm10,no2
0,Agra,2020-05-21T12:30:00+05:30,59.0,27.198658,78.005981,64.5,310.0,44.0,37.00,44.0
1,Agra,2020-05-21T12:15:00+05:30,59.0,27.198658,78.005981,91.5,320.0,27.0,35.50,27.0
2,Agra,2020-05-21T11:15:00+05:30,55.0,27.198658,78.005981,75.1,440.0,0.0,41.20,0.0
3,Agra,2020-05-21T10:00:00+05:30,96.0,27.198658,78.005981,58.4,150.0,11.3,49.30,11.3
4,Agra,2020-05-21T09:45:00+05:30,96.0,27.198658,78.005981,46.3,150.0,22.8,47.40,22.8
5,Agra,2020-05-21T07:30:00+05:30,84.0,27.198658,78.005981,33.9,670.0,0.0,41.70,0.0
6,Agra,2020-05-21T06:15:00+05:30,85.0,27.198658,78.005981,33.3,530.0,1.8,41.50,1.8
7,Agra,2020-05-21T06:00:00+05:30,85.0,27.198658,78.005981,50.4,530.0,27.5,39.10,27.5
8,Agra,2020-05-21T05:30:00+05:30,85.0,27.198658,78.005981,68.0,520.0,51.1,37.60,51.1
9,Agra,2020-05-21T05:15:00+05:30,85.0,27.198658,78.005981,52.9,510.0,43.2,40.40,43.2
10,Agra,2020-05-21T04:45:00+05:30,85.0,27.198658,78.005981,63.5,470.0,58.7,38.90,58.7
11,Agra,2020-05-21T03:45:00+05:30,77.0,27.198658,78.005981,26.9,740.0,52.4,37.40,52.4
12,Agra,2020-05-21T03:30:00+05:30,77.0,27.198658,78.005981,16.9,760.0,54.5,38.50,54.5
13,Agra,2020-05-21T03:00:00+05:30,77.0,27.198658,78.005981,20.2,850.0,51.4,38.20,51.4
14,Agra,2020-05-21T02:45:00+05:30,77.0,27.198658,78.005981,32.7,820.0,45.3,36.80,45.3
15,Agra,2020-05-21T02:00:00+05:30,77.0,27.198658,78.005981,40.8,50.0,166.9,10.70,166.9
16,Agra,2020-05-21T01:30:00+05:30,77.0,27.198658,78.005981,70.0,790.0,50.8,36.30,50.8
17,Agra,2020-05-21T00:45:00+05:30,77.0,27.198658,78.005981,68.6,770.0,36.7,47.00,36.7
18,Agra,2020-05-21T00:30:00+05:30,77.0,27.198658,78.005981,112.1,620.0,34.8,41.90,34.8
19,Agra,2020-05-20T23:00:00+05:30,77.0,27.198658,78.005981,61.0,270.0,25.7,50.40,25.7
20,Agra,2020-05-20T22:30:00+05:30,74.0,27.198658,78.005981,59.8,300.0,21.2,49.80,21.2
21,Agra,2020-05-20T22:15:00+05:30,74.0,27.198658,78.005981,94.1,280.0,9.7,48.50,9.7
22,Agra,2020-05-20T19:45:00+05:30,30.0,27.198658,78.005981,184.8,790.0,5.8,28.00,5.8
23,Agra,2020-05-20T19:15:00+05:30,21.0,27.198658,78.005981,199.9,540.0,5.2,28.00,5.2
24,Agra,2020-05-20T19:00:00+05:30,21.0,27.198658,78.005981,123.7,440.0,3.1,31.40,3.1
25,Agra,2020-05-20T18:45:00+05:30,21.0,27.198658,78.005981,101.5,400.0,0.0,30.10,0.0
26,Agra,2020-05-20T18:00:00+05:30,24.0,27.198658,78.005981,70.6,340.0,0.0,30.30,0.0
27,Agra,2020-05-20T16:45:00+05:30,27.0,27.198658,78.005981,93.9,140.0,0.0,33.50,0.0
28,Agra,2020-05-20T16:15:00+05:30,32.0,27.198658,78.005981,82.3,270.0,0.0,37.00,0.0
29,Agra,2020-05-20T16:00:00+05:30,32.0,27.198658,78.005981,68.2,270.0,0.0,39.10,0.0
...,...,...,...,...,...,...,...,...,...,...
1067958,Pali,2020-03-19T17:00:00+05:30,NaN,25.771061,73.340227,NaN,NaN,NaN,23.62,NaN
1067959,Panipat,2020-02-22T20:00:00+05:30,NaN,29.497973,76.993331,NaN,NaN,NaN,111.35,NaN
1067960,Patiala,2020-04-03T11:30:00+05:30,NaN,30.349388,76.366642,NaN,NaN,NaN,3.20,NaN
1067961,Patiala,2020-04-03T11:15:00+05:30,NaN,30.349388,76.366642,NaN,NaN,NaN,3.60,NaN
1067962,Patiala,2020-03-12T09:45:00+05:30,NaN,30.349388,76.366642,NaN,NaN,NaN,5.50,NaN
1067963,Rupnagar,2020-02-29T19:30:00+05:30,NaN,30.032545,76.562305,NaN,NaN,NaN,4.34,NaN
1067964,Rupnagar,2020-02-29T04:45:00+05:30,NaN,30.032545,76.562305,NaN,NaN,NaN,3.59,NaN
1067965,Siliguri,2020-05-19T00:15:00+05:30,NaN,26.688305,88.412668,NaN,NaN,NaN,0.00,NaN
1067966,Sirsa,2020-02-23T16:00:00+05:30,NaN,29.536400,75.015800,NaN,NaN,NaN,4.68,NaN
1067967,Thane,2020-05-12T15:15:00+05:30,NaN,19.192056,72.958519,NaN,NaN,NaN,2.71,NaN
1067968,Thane,2020-05-12T15:00:00+05:30,NaN,19.192056,72.958519,NaN,NaN,NaN,3.74,NaN
1067969,Thane,2020-05-12T14:45:00+05:30,NaN,19.192056,72.958519,NaN,NaN,NaN,2.66,NaN
1067970,Thane,2020-05-11T18:00:00+05:30,NaN,19.192056,72.958519,NaN,NaN,NaN,3.33,NaN
1067971,Thiruvananthapuram,2020-02-26T08:00:00+05:30,NaN,8.563700,76.886500,NaN,NaN,NaN,18.13,NaN
1067972,Ujjain,2020-04-21T08:45:00+05:30,NaN,23.182719,75.768218,NaN,NaN,NaN,7.90,NaN
1067973,Ujjain,2020-04-05T21:30:00+05:30,NaN,23.182719,75.768218,NaN,NaN,NaN,34.30,NaN
1067974,Varanasi,2020-05-06T11:00:00+05:30,NaN,25.350599,82.908307,NaN,NaN,NaN,21.62,NaN
1067975,Varanasi,2020-05-06T10:30:00+05:30,NaN,25.350599,82.908307,NaN,NaN,NaN,30.64,NaN
1067976,Varanasi,2020-02-29T10:30:00+05:30,NaN,25.350599,82.908307,NaN,NaN,NaN,13.54,NaN
1067977,Vatva,2020-05-02T13:15:00+05:30,NaN,22.969611,72.643500,NaN,NaN,NaN,8.70,NaN
1067978,Vatva,2020-04-21T03:15:00+05:30,NaN,22.969611,72.643500,NaN,NaN,NaN,27.90,NaN
1067979,Vatva,2020-03-30T22:30:00+05:30,NaN,22.969611,72.643500,NaN,NaN,NaN,22.91,NaN
1067980,Vatva,2020-03-30T18:30:00+05:30,NaN,22.969611,72.643500,NaN,NaN,NaN,44.88,NaN
1067981,Vatva,2020-03-14T19:15:00+05:30,NaN,22.969611,72.643500,NaN,NaN,NaN,67.06,NaN
1067982,Vatva,2020-03-14T13:15:00+05:30,NaN,22.969611,72.643500,NaN,NaN,NaN,18.25,NaN
1067983,Yadgir,2020-04-24T04:30:00+05:30,NaN,16.760200,77.142800,NaN,NaN,NaN,11.60,NaN
1067984,Yadgir,2020-03-02T04:30:00+05:30,NaN,16.760200,77.142800,NaN,NaN,NaN,15.60,NaN
1067985,Yamunanagar,2020-04-18T20:00:00+05:30,NaN,30.148057,77.289347,NaN,NaN,NaN,0.00,NaN
1067986,Yamunanagar,2020-04-15T18:45:00+05:30,NaN,30.148057,77.289347,NaN,NaN,NaN,47.11,NaN
1067987,Alwar,2020-04-19T20:15:00+05:30,NaN,27.554793,76.611536,NaN,NaN,NaN,39.35,NaN

In [75]:
result.isnull().sum() #cheacking nan's

city             0
local            0
pm25         30558
latitude         0
longitude        0
o3           84295
co           86904
so2          39607
pm10         53696
no2          39607
dtype: int64

In [81]:
result_without_nan =result.dropna() #droping nan's (due nan's lessthan 12% )

In [82]:
result_without_nan.isnull().sum()

city         0
local        0
pm25         0
latitude     0
longitude    0
o3           0
co           0
so2          0
pm10         0
no2          0
dtype: int64

In [83]:
result_without_nan.count()

city         846947
local        846947
pm25         846947
latitude     846947
longitude    846947
o3           846947
co           846947
so2          846947
pm10         846947
no2          846947
dtype: int64

In [84]:
result.describe()

,pm25,latitude,longitude,o3,co,so2,pm10,no2
count,1.037430e+06,1.067988e+06,1.067988e+06,9.836930e+05,9.810840e+05,1.028381e+06,1.014292e+06,1.028381e+06
mean,4.954406e+01,2.548890e+01,7.792111e+01,6.778257e+20,1.288102e+15,3.444285e+01,2.503767e+01,3.444285e+01
std,9.318660e+01,5.205500e+00,3.241975e+00,6.722763e+23,1.275861e+18,1.204357e+04,3.904205e+01,1.204357e+04
min,-9.999000e+03,8.514909e+00,7.252048e+01,-1.176000e+04,-2.079400e+05,-1.758000e+03,-3.806100e+02,-1.758000e+03
25%,2.100000e+01,2.323358e+01,7.688650e+01,1.556000e+01,3.800000e+02,6.100000e+00,9.770000e+00,6.100000e+00
50%,3.500000e+01,2.847272e+01,7.745366e+01,3.540000e+01,7.200000e+02,9.700000e+00,1.708000e+01,9.700000e+00
75%,6.100000e+01,2.855705e+01,7.748200e+01,6.349000e+01,1.360000e+03,1.470000e+01,3.103000e+01,1.470000e+01
max,1.182340e+04,3.162000e+01,9.271928e+01,6.667724e+26,1.263737e+21,9.926656e+06,1.764660e+04,9.926656e+06

In [85]:
result_without_nan.to_csv( "result_without_nan.csv", index=False, encoding='utf-8-sig') #cheackpoint

### visualization